body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: rgba(255, 255, 0, 0.447);
}

.App {
  max-width: 900px;
  margin: auto;
  padding: 2rem;
}

h1, h2 {
  color: #333;
}

section {
  margin: 2rem 0;
}

ul {
  list-style: none;
  padding: 0;
}

ul li {
  background-color: #ddd;
  margin: 0.5rem 0;
  padding: 0.5rem;
}

a {
  text-decoration: none;
  color: #007bff;
}

a:hover {
  text-decoration: underline;
}
